body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #c8c3bf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* Contenedor General, tamaño tablet regular*/

.container{
  margin: 0 auto;
  height: 90vh;
  width: 100vw;
  padding: 0px;
  background-color: #ffffff;
  background-repeat: repeat;
  background-image: url(images/patternpink.png);
}

/* Barra Superior de Navegación*/

.btn-group{ 
  display: inline-flex;
  width: 100%;
}

.btnNav{
  width: 15%;
  height: 10vh;
  background: #ffbbaa;
  border: none;
  text-decoration: none;
  border: 1px solid  #f5ecec;
  box-sizing: border-box;
}

.btnNav:hover {
  opacity: 0.6;
}

.color{
  background-color: #a07b7c;
}

.btnNavText{
  font-family: 'Jua', sans-serif;
  color:  #ffffff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Sub Contenedor General, trabajo horizontal en %*/

.containerGeneral{
  display: inline;
  width: 100%;
  height: 90vh;
}

/*Login*/

.containerLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #464240;
  margin-top: 5%;
  padding: 20px;
}

.logoBrown{
  margin-bottom: 50px;
}

.btnEnter{
  display: flex;
  justify-content: center;
  width: 20vh;
  margin: 0 auto;
  border-radius: 15px;
  border-style: none;
  background-color:#e0737c;
  padding: 10px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}


/*Home*/

.containerHome{
  font-family: 'Jua', sans-serif;
  display: inline-flex;
  width: 100%;
  height: 90vh;
  color: #9e8173;
}

.logout{
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
  border-style: none;
  padding: 15px;
  color: #ffffff;
}

.logout:hover {
  opacity: 0.6;
}

/* Componentes Genéricos */

.navLeft{
  background-color: #ffd0be;
  width: 15%;
  height: 80vh;
  border: 1px solid  #f5ecec;
}

.navRight{
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid  #f5ecec;
  background-color: #ffd0be;
  width: 25%;
  height: 80vh;
}

.navHour{
  margin: 0 auto;
  background-color: #ffd0be;
  width: 25%;
  height: 10vh;
  border: 1px solid  #f5ecec;
}

.navHourNumber{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 4vh;
  width: 80%;
  border-radius: 20px;
  border-style: none;
  background-color:#ffffff;
  color: #a07b7c;
  margin-top: 3vh;
}

.containerEmpty{
  width: 60%;
  height: 80vh;
}

.containerEmptyBig{
  width: 75%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.btnLeft{
  display: flex;
  justify-content: center;
  width: 15vh;
  margin: 0 auto;
  border-radius: 5px;
  border-style: none;
  background-color:#d3a59e;
  padding: 10px;
  color: #ffffff;
  margin-top: 20px;
}

.btnLeft:hover {
  opacity: 0.6;
}

/*Menú*/

.containerMenu{
  display: inline-flex;
  width: 100%;
  height: 668px;
}

/*Mesas*/

.containerMesas{
  display: inline-flex;
  width: 100%;
  height: 668px;
}


