body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #b99e96;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* Contenedor General, tamaño tablet regular*/

.container{
  margin: 0 auto;
  width: 1000px;
  height: 730px;
  padding: 0px;
  background-color: #f5ecec;
}

/* Barra Superior de Navegación*/

.btn-group{ 
  display: inline-flex;
  width: 100%;
}

.btnNav{
  width: 15%;
  height: 62px;
  background: #9e8d85;
  border: none;
  text-decoration: none;
  border: 1px solid  #f5ecec;
  box-sizing: border-box;
}

.btnNav:hover {
  opacity: 0.6;
}

.btnNavText{
  font-family: 'Jua', sans-serif;
  color:  #ffffff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navHour{
  margin: 0 auto;
  background-color: #1eb6b6;
  width: 25%;
  height: 62px;
  border: 1px solid  #f5ecec;
}

/* Sub Contenedor General, trabajo horizontal en %*/

.containerGeneral{
  display: inline;
  width: 100%;
  height: 668px;
}

/*Home*/

.containerHome{
  display: inline-flex;
  width: 100%;
  height: 668px;
}

.containerImg{

  width: 75%;
  height: 668px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url(images/MiauCoffee.png);
  background-position: 55% 50%;
}

.formLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  font-family: 'Jua', sans-serif;
  color:  #1f1e1e;
  font-size: 25px;
}

.formElements{
  text-align: center;
  width: 220px;
  height: 40px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  background: #ffffff;
  border-radius: 50px; 
  border: none;
}

/* Componentes Genéricos */

.navLeft{
  background-color: #1eb6b6;
  width: 15%;
  height: 668px;
  border: 1px solid  #f5ecec;
}

.navRight{
  background-color: #1eb6b6;
  width: 25%;
  height: 668px;
  border: 1px solid  #f5ecec;
}

.containerEmpty{
  width: 60%;
  height: 668px;
}

/*Mesas*/

.containerMesas{
  display: inline-flex;
  width: 100%;
  height: 668px;
}